pkgbase = innotop
	pkgdesc = A powerful 'top' clone for MySQL (MariaDB)
	pkgver = 1.13.0
	pkgrel = 5
	url = https://github.com/innotop/innotop
	arch = any
	license = GPL2
	depends = perl-dbd-mysql
	depends = perl-term-readkey
	options = !emptydirs
	source = https://github.com/innotop/innotop/archive/v1.13.0/innotop-1.13.0.tar.gz
	sha512sums = 827a6ec36355af023d24b85afdaabac44ef0c33c853c133d39f0725b2da3585cf1bc7b21e501d436a28ac6b798d9d502b4a81c2c9c28373abf91543519b4f45a

pkgname = innotop
